<!DOCTYPE html>
<html>
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <!-- The container of my react application because of the ID root, which is being searched for in the index.js file -->
        <div id="root"></div>
    </body>
</html>